body
{
background-color: #ff1dbf;
}
#contenedor{
width:80%;
height:100%;
margin: 0 auto;
background-color:#460407;
border:2px solid #9066ea;
}
#cabecera{
width:100%;
height:20%;
background-color:#E5BC7A;
}
#menu{
width:100%;
height:5%;
background-color:#C8CACC;
padding-bottom: 30px;
}
#izquierda{
width:20%;
height:70%;
background-color:#82b6ff;
float:left;
}
#centro{
padding-left: 5%;
padding-right: 5%;
width:50%;
height:70%;
text-align: center;
background-color:#028CCA;
float:left;
color: white;
}
#derecha{
width:20%;
height:70%;
background-color: #82b6ff;
float:left;
}
#pie{
width:100%;
height:5%;
background-color:#D3D1C1;
clear:both;
}
#im{
width:100%;
height:100%;
}
#tabla1{
padding-left: 17%;
}
#boton{
    width: 100%;
    background: #ff8ad6;
    border: none;
    padding: 12px;
    color: #fff;
    margin: 16px 0px;
    font-size: 16px;
}
#boton:hover{
    background: #000000;
    box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
    

}